<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Confluent.Kafka-fx45" version="0.9.4" targetFramework="net45" />
  <package id="librdkafka.redist" version="0.9.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Raven.Message.Kafka" version="1.0.2" targetFramework="net45" />
  <package id="Raven.Serializer" version="1.0.2" targetFramework="net45" />
  <package id="Raven.Serializer.WithNewtonsoft" version="1.0.3" targetFramework="net45" />
</packages>