<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ravenRabbitMQ" type="Raven.Message.RabbitMQ.Configuration.ClientConfiguration, Raven.Message.RabbitMQ" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <add key="MongoDB_RavenLogs" value="mongodb://127.0.0.1:27017/" />

    <!--RabbitMQ消息队列配置信息-->
    <add key="RabbitMQ_RavenLogs" value="host=127.0.0.1;username=liangyi;pwd=123456" />
    <add key="RabbitMQ_RavenLogs_v2" value="amqp://127.0.0.1" />
  </appSettings>
  <ravenRabbitMQ logType="Raven.TracingRecord.V2.Log,Raven.TracingRecord" serializerType="NewtonsoftJson">
    <brokers>
      <broker name="RabbitMQ_RavenLogs_v2" uri="amqp://127.0.0.1">
        <queues>
          <queue name="raven_trace_logsv3" durable="true">
            <consumer consumeConfirm="false"></consumer>
          </queue>
        </queues>
      </broker>
    </brokers>
  </ravenRabbitMQ>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>