<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="2.2.0" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.2.0" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.0" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.0" targetFramework="net46" />
  <package id="MongoDB.Repository" version="2.2.13" targetFramework="net46" />
  <package id="Repository.IEntity" version="1.0.2" targetFramework="net46" />
</packages>