<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Confluent.Kafka-fx45" version="0.9.4" targetFramework="net45" />
  <package id="Jil" version="2.12.1" targetFramework="net45" />
  <package id="librdkafka.redist" version="0.9.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.6.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.5" targetFramework="net45" />
  <package id="Raven.Message.Kafka" version="1.0.0" targetFramework="net45" />
  <package id="Raven.RabbitMQClient" version="1.0.1" targetFramework="net45" />
  <package id="Raven.Rpc.HttpProtocol" version="2.2.0" targetFramework="net45" />
  <package id="Raven.Rpc.IContractModel" version="2.2.0" targetFramework="net45" />
  <package id="Raven.Rpc.Tracing" version="1.2.2" targetFramework="net45" />
  <package id="Raven.Rpc.Tracing.Record.Kafka" version="1.0.3" targetFramework="net45" />
  <package id="Raven.Serializer" version="1.0.1" targetFramework="net45" />
  <package id="Raven.Serializer.WithJil" version="1.0.0" targetFramework="net45" />
  <package id="Raven.Serializer.WithMsgPack" version="2.0.0" targetFramework="net45" />
  <package id="Raven.Serializer.WithNewtonsoft" version="1.0.1" targetFramework="net45" />
  <package id="Sigil" version="4.5.0" targetFramework="net45" />
</packages>